ARC-V1-Feb2018-2
.idea
__pycache__

/logs/
*.aux
*.blg
*.log
*.synctex.gz
*.pdf
plots/
results/
old/
data-full/
data-subset-100/
data-subset-500/
data-post-cutoff/
data-post-cutoff-afc/
data-subset-500-afc
source_data/
venv-croissant/
croissant/


*.json
*.eval
*.env
*.bbl
*.out
